<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2 style="color: blue;">CURRENT USER:</h2>
    {% if user.is_authenticated %}
    <h3 style="color: green;">User Id: {{ user.get_id() }}</h3>
    <h3 style="color: green;">Username: {{ user }}</h3>
    {% else %}
    <h4 style="color: red;">User is not logged in</h4>
    {% endif %}
    <hr>
    <div style="display: flex;">
        <h2 style="color: blue;">REGISTER USER:</h2>
        <form action="/register" method="POST">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="password" id="password" name="password" placeholder="Password">
            <input type="password" id="confirmation" name="confirmation" placeholder="Confirm password">
            <select name="college" id="college">
                {% for college in colleges %}
                <option value={{ college.id }}>{{ college.name }}</option>
                {% endfor %}
            </select>
            <select name="faculty" id="faculty">
                {% for faculty in faculties if faculty.college_id == 1 %}
                <option value={{ faculty.id }}>{{ faculty.name }}</option>
                {% endfor %}
            </select>
            <select name="classes" id="classes">
                {% for class in classes if class.faculty_id == 1 %}
                <option value={{ class.id }}>{{ class.name }}</option>
                {% endfor %}
            </select>
            <select name="classes" id="classes">
                {% for class in classes if class.faculty_id == 1 %}
                <option value={{ class.id }}>{{ class.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Sign Up">
        </form>
    </div>
    <hr>
    <div style="display: flex;">
        <h2 style="color: blue;">LOG IN:</h2>
        <form action="/login" method="POST">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <input type="submit" value="Log In">
        </form>
    </div>
    <hr>
    <form action="/logout" method="POST">
        <h2 style="color: blue;">LOG OUT</h2>
        <input type="submit" value="Log Out">
    </form>
    <hr>
    <h2 style="color: blue;">RECEIVED MESSAGES</h2>
    <form action="/inbox">
        <input type="submit" value="Inbox">
    </form>
    <hr>
    <h2 style="color: blue;">SENT MESSAGES</h2>
    <form action="/inbox/sent">
        <input type="submit" value="Sent">
    </form>
    <hr>
    <h2 style="color: blue;">CREATE A NEW MESSAGE:</h2>
    <form action="/message" method="POST">
        <input type="text" id="content" name="content" placeholder="content">
        <select name="receiver" id="receiver">
            <option value="3">HarryPotter</option>
            <option value="6">RonWeasley</option>
        </select>
        <input type="submit" value="Send Message">
    </form>
    </div>
    <hr>
    <h2 style="color: blue;">GET COLLEGES LIST</h2>
    <form action="/colleges" method="GET">
        <input type="submit" value="Colleges">
    </form>
    <hr>
    <h2 style="color: blue;">GET FACULTIES LIST</h2>
    <form action="/faculties" method="GET">
        <input type="submit" value="Faculties">
    </form>
    <hr>
    <h2 style="color: blue;">GET CLASSES LISTS</h2>
    <form action="/classes" method="GET">
        <input type="submit" value="Classes">
    </form>
    <hr>
    <h2 style="color: blue;">GET FACULTIES IN COLLEGE</h2>
    <form action="/colleges/<int:college>/classes" method="GET">
        <input type="submit" value="Faculties">
    </form>
    <hr>
    <h2 style="color: blue;">GET CLASSES IN FACULTY</h2>
    <form action="/faculties/<int:faculty>/classes" method="GET">
        <input type="submit" value="Classes">
    </form>
    <hr>
    <div style="display: flex;">
        <h2 style="color: blue;">NEW COLL:</h2>
        <form action="/coll" method="POST">
            <input type="text" id="title" name="title" placeholder="Title">
            <input type="text" id="content" name="content" placeholder="Content">
            <select name="type" id="type">
                <option value="text">Text</option>
                <option value="survey">Survey</option>
                <option value="link">Link</option>
            </select>
            <select name="classes" id="classes">
                {% for class in classes if class.faculty_id == 1 %}
                <option value={{ class.id }}>{{ class.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="New Coll">
        </form>
    </div>
    <hr>
    <h2 style="color: blue;">GET ALL COLLS</h2>
    <form action="/coll" method="GET">
        <input type="submit" value="Colls">
    </form>
    <hr>
</body>

</html>